<!-- <div class="parallax-container"> -->
  <div id="login-bg-image"></div>
<!-- </div> -->

<div class="container row" id="login-form">
  <div class="col s8" id="login-form-bg">
    <h4>Login</h4>
    <%= form_tag "/login", method: "post" do %>
      <h6>Username:</h6><br>
      <%= text_field_tag :username, nil, required: true, class: "formInput" %><br>
      <h6>Password:</h6>
      <%= password_field_tag :password, nil, required: true, class: "formInput" %><br>
      <%= submit_tag " Login  ", class: "btn z-depth-0", id: "login-submit" %>
      <%= link_to "Sign Up", new_user_path, :class => "btn z-depth-0", id: "signup" %>
    <% end %>
  </div>
</div>
