<section id="profile">
 <div class="container row" id="profile-container">
   <div class="col s8" id="profile-content">
     <div class="row" id="profile-pic-div">
      <a href="/users/<%=@user.id%>/edit"><%= image_tag @user.image.url(:medium), id: "profile-img" %></a>
     </div>







<!-- TESTING FOR TABLE -->
<div>

 <div>
   <% if current_user %>
   <% if !@customer %>
   <%= button_to "Get Foodly Supreme", new_charge_path, method: :get, class: "btn", id: "getSupreme" %>
 </div>
 <%end%>
 <%end%>
   <h2 id="username"><%= @user.username %>'s likes</h2>
 <br>
   <% @likes.each do |like| %>
     <div class="row" id="restaurant-likes">
       <div class="col s8" id="resName">
       <a href="<%= like.restaurant.thumb_url %>"><h5 style="text-align: center;" id="resName"><%= like.restaurant.name %></h5></a>
     </div>
     <br>
       <div class="col s4">
         <img src="<%= like.restaurant.featured_image%>" id="restaurant-image" alt="restaurant image" />
       </div>
       <div class="col s4" id="restaurant-description">
         <p>Cuisine: <%= like.restaurant.cuisines %></p>
         <p>City: <%= like.restaurant.location %></p>
         <p>Rating: <%= like.restaurant.aggregate_rating %></p>
         <% if @customer %>
         <%= button_to "Redeem Meal", redeem_path, method: "get", class: "btn", id: "deals-button" %>
         <% end %>
       </div>
     </div>
     <% end %>
</div>
<!-- TESTING FOR D3 -->


<!-- TESTING FOR D3 -->
   <div class="row" style="display: none;">
     <ul>
       <li class="likes-count"><%= @user.likes.length %></li>
       <li class="dislikes-count"><%= @user.dislikes.length %></li>
     </ul>
   </div>

   <div class="pie-graph">
   </div>

   </div>
 </div>
</section>
