<div class="container">
  <div>
    <div class="col s12 offset-1">
      <div class="row" id="profile-pic-div">
       <a href="/users/<%=@user.id%>/edit"><%= image_tag @user.image.url(:medium), id: "profile-img" %></a>
      </div>
      <div>
        <% if current_user %>
          <%= button_to "Get Foodly Supreme", new_charge_path, method: :get, class: "btn", id: "getSupreme" %>
      </div>
      <%end%>
      <div class="profile-name">
        <h2><%= @user.username %>'s likes:</h2>
      </div>
      

<!-- TESTING FOR TABLE -->
    <% @likes.each do |like| %>
      <div class="row col s12" id="restaurant-likes">
        <div class="col s4">
          <img src="<%= like.restaurant.thumb_url%>" id="restaurant-image" alt="restaurant image" />
        </div>
        <div class="col s6" id="restaurant-description">
          <%= like.restaurant.name %><br>
          <%= like.restaurant.location %><br>
          Rating <br>
          Cuisine
        </div>
      </div>
    <% end %>

<!-- TESTING FOR D3 -->
    <div class="row">
      <ul>
        <li class="likes-count"><%= @likes.length %></li>
        <li class="dislikes-count"><%= @dislikes.length %></li>
      </ul>
    </div>

    <div class="pie-graph">
    </div>

    </div>
  </div>
</div>