<section id="profile">
  <div class="container row" id="profile-container">
    <div class="col s8" id="profile-content">
      <div class="row" id="profile-pic-div">
       <a href="/users/<%=@user.id%>/edit"><%= image_tag @user.image.url(:medium), id: "profile-img" %></a>
      </div>
<<<<<<< HEAD


=======
      <div>
        <% if current_user %>
          <%= button_to "Get Foodly Supreme", new_charge_path, method: :get, class: "btn", id: "getSupreme" %>
      </div>
      <%end%>

      <% if !@user.likes.length && !@user.likes.length %>
      <div class="profile-name">
        <h2><%= @user.username %>'s likes:</h2>
      </div>
      <% end %>
>>>>>>> development


<!-- TESTING FOR TABLE -->
<div>

  <div>
    <% if current_user %>
    <% if !@customer %>
    <%= button_to "Get Foodly Supreme", new_charge_path, method: :get, class: "btn", id: "getSupreme" %>
  </div>
  <%end%>
  <%end%>
    <h2 id="username"><%= @user.username %>'s likes</h2>
  <br>
    <% @likes.each do |like| %>
<<<<<<< HEAD
      <div class="row" id="restaurant-likes">
        <div class="col s8" id="resName">
        <a href="<%= like.restaurant.thumb_url %>"><h5 style="text-align: center;" id="resName"><%= like.restaurant.name %></h5></a>
      </div>
      <br>
        <div class="col s4">
          <img src="<%= like.restaurant.featured_image%>" id="restaurant-image" alt="restaurant image" />
        </div>
        <div class="col s4" id="restaurant-description">
          <p>Cuisine: <%= like.restaurant.cuisines %></p>
          <p>City: <%= like.restaurant.location %></p>
          <p>Rating: <%= like.restaurant.aggregate_rating %></p>
          <% if @customer %>
          <%= button_to "Redeem Meal", redeem_path, method: "get", class: "btn", id: "deals-button" %>
          <% end %>
        </div>
      </div>
      <% end %>
</div>
<!-- TESTING FOR D3 -->
    <div class="row" id="likes-count">
      <ul>
        <li class="likes-count">Likes: <%= @likes.length %></li>
        <li class="dislikes-count">Dislikes: <%= @dislikes.length %></li>
=======
      <% if like.user_id == @user.id %>
        <div class="row col s12" id="restaurant-likes">
          <div class="col s3 offset-s1 res-image-user-profile">
            <img src="<%= like.restaurant.featured_image%>" id="restaurant-image" alt="restaurant image" />
          </div>
          <div class="col s8" id="restaurant-description">
            <%= like.restaurant.name %><br>
            <%= like.restaurant.location %><br>
            Rating: <%= like.restaurant.aggregate_rating %><br>
            Cuisine: <%= like.restaurant.cuisines %><br>
          </div>
        </div>
      <% end %>
    <% end %>

<!-- TESTING FOR D3 -->
    <div class="row" style="display: none;">
      <ul>
        <li class="likes-count"><%= @user.likes.length %></li>
        <li class="dislikes-count"><%= @user.dislikes.length %></li>
>>>>>>> development
      </ul>
    </div>

    <div class="pie-graph">
    </div>

    </div>
  </div>
</section>
