<div class="container">
  <h2> restaurants flip page</h2>
  <% @restaurant.each do |res| %>
    <% if !current_user.restaurants.include?(res) %>
      <div class="row" id="res-card">
            <div class="col s12 m7">
              <div class="card" id="<%= res.id %>">
                <div class="card-image">
                  <img src="<%=res.featured_image %>">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <h3><%= res.name %></h3><br>
                  <%= res.location %><br>
                  <%= res.phone_numbers %>
                </div>
                <button class="like-button"></button>
                <div class="card-action">
                  <%= button_to "Like", likes_path(current_user, res.id), method:"post", class: "btn like-button" %>
                </div>
              </div>
            </div>
          </div>
    <% end %>
  <% end %>
</div>
