

<div class="container">
  <h2 align="center"> Connect to Food Near By!</h2>

  <% @restaurants.each do |res| %>
    <% if !current_user.restaurant_likes.include?(res) && !current_user.restaurant_dislikes.include?(res) %>


    <div class="swipe-card col s8">

        <div class="col s2 yelp-image-div offset-s3">
          <img class="yelp-img" src="<%=res.featured_image %>">
        </div>

        <div class="col s5">
          <h5><%=res.name%></h5><form action="index.html" method="post"></form>
          <p><%=res.location%></p>
        </div>

      <div class="col s8 offset-3">
        <div class="col s6" id="yelp-description">
          <ul>Rating: <%=res.aggregate_rating%></ul>
          <ul>Type: <%=res.cuisines%></ul>
        </div>
      </div>
      <div class="like-dislike">
        <%= link_to "  Like  ", likes_path(current_user, res.id), method: "post", class: "btn like-button" %>
        <%= link_to "Dislike", dislikes_path(current_user, res.id), method: "post", class: "btn dislike-button" %>
        <a class="btn" href="#"><i class="material-icons left">cloud</i>click here</a>
      </div>

    </div>
    <% break %>
    <% end %>
  <% end %>
</div>
