<div class="container">
  <h1> restaurants flip page</h1>

<div class="row">
<% @restaurant.each do |res| %>
  <% if !current_user.restaurant_likes.include?(res) && !current_user.restaurant_dislikes.include?(res) %>
          <div class="col s12">
            <div class="card medium">
              <div class="card-image">
                <img src="<%=res.image_url %>">
                <span class="card-title"><%=res.name%></span>
              </div>
              <div class="card-content">
                <p>
                  <br>
                  <%=res.location.address %>
                  <br>
                  <%=res.phone %>
                </p>
              </div>
              <div class="card-action">
              <div class="col s6">
                <%= button_to "Dislike", dislikes_path(current_user, res.id), method: "post", class: "btn", id: "dislike-button" %>
                </div>
                <div class="col s6">
                <%= button_to "Like", likes_path(current_user, res.id), method: "post", class: "btn", id: "like-button" %>
                </div>
              </div>
            </div>
          </div>

    <% end %>
  <% end %>
</div>
