<div class="container">
  <h2 align="center"> Connect to Food Near By!</h2>

  <% @restaurants.each do |res| %>
    <% if !current_user.restaurant_likes.include?(res) && !current_user.restaurant_dislikes.include?(res) %>
    <div class="swipe-card col s8">
      <center>
        <div class="col s2 yelp-image-div offset-s3">
          <img class="yelp-img" src="<%=res.featured_image %>">
        </div>

        <div class="col s5">
          <h5><%=res.name%></h5>
          <p><%=res.location%></p>
        </div>

      <div class="col s8 offset-3">
        <div class="col s6" id="yelp-description">
          <ul>Rating: <%=res.aggregate_rating%></ul>
          <ul>Type: <%=res.cuisines%></ul>
        </div>
      </div>
    </center>
    <div class="like-dislike">
      <%= button_to "  Like  ", likes_path(current_user, res.id), method: "post", class: "btn like-button" %>
      <%= button_to "Dislike", dislikes_path(current_user, res.id), method: "post", class: "btn dislike-button" %>
    </div>
    </div>
    <% end %>
  <% end %>
</div>
