<h1> restaurants flip page</h1>

<% @restaurant.each do |restaurant| %>
  <%if @restaurant_user.user_id == restaurant.id %>
  <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="<%=restaurant.featured_image %>">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>
                <h3><%=restaurant.name%></h3>
                <br>
                <%=restaurant.location %>
                <br>
                <%=restaurant.phone_numbers %>
              </p>
            </div>
            <div class="card-action">
              <%= button_to "Like", likes_path(current_user, restaurant.id), method:"post", class: "btn" %>
            </div>
          </div>
        </div>
      </div>

  <% end %>
<%end%>
