<div class="container">
<h1> restaurants flip page</h1>

<% @restaurant.each do |res| %>
  <% if !current_user.restaurant_likes.include?(res) && !current_user.restaurant_dislikes.include?(res) %>
    <div class="row">
          <div class="col s12 m7">
            <div class="card" id="<%= res.id %>">
              <div class="card-image">
                <img src="<%=res.featured_image %>">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>
                  <h3><%=res.name%></h3>
                  <br>
                  <%=res.location %>
                  <br>
                  <%=res.phone_numbers %>
                </p>
              </div>
              <div class="card-action">
                <%= button_to "Like", likes_path(current_user, res.id), method: "post", class: "btn", id: "like-button" %>
                <%= button_to "Dislike", dislikes_path(current_user, res.id), method: "post", class: "btn", id: "dislike-button" %>
              </div>
            </div>
          </div>
        </div>

  <% end %>
<% end %>
</div>
